.likely {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.likely * {
  visibility: hidden;
}
.likely_visible {
  opacity: 1;
}
.likely_visible * {
  visibility: inherit;
}
.likely {
  display: inline-block;
  font-size: 0 !important;
  font-weight: normal;
  font-family: Helvetica Neue, Arial, sans-serif;
  text-indent: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.likely * {
  display: inline-block;
}
.likely__widget {
  position: relative;
  white-space: nowrap;
}
.likely__button,
.likely__counter {
  text-decoration: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  outline: 0;
}
.likely__button {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.likely__counter {
  display: none;
  position: relative;
}
.likely_ready .likely__counter {
  display: inline-block;
}
.likely_ready .likely__counter_empty {
  display: none;
}
.likely__widget,
.likely__icon,
.likely__button,
.likely__counter {
  vertical-align: top;
}
.likely__widget {
  transition: background 0.33s ease-out, color 0.33s ease-out, fill 0.33s ease-out;
}
.likely__widget:hover,
.likely__widget:active,
.likely__widget:focus {
  transition: none;
  cursor: pointer;
}
@media (hover: none) {
  .likely__widget:hover,
  .likely__widget:active,
  .likely__widget:focus {
    transition: background 0.33s ease-out, color 0.33s ease-out, fill 0.33s ease-out;
    cursor: unset;
  }
}
.likely__icon {
  position: relative;
  text-align: left;
}
.likely svg {
  position: absolute;
}
.likely__button,
.likely__counter {
  line-height: inherit;
  cursor: inherit;
}
.likely__button:empty {
  display: none;
}
.likely__counter {
  text-align: center;
}
/* Style options */
.likely .likely__widget {
  color: #000;
  background: rgba(231,231,231,0.8);
}
.likely .likely__counter {
  background-size: 1px 1px;
  background-repeat: repeat-y;
  background-image: linear-gradient(to right, rgba(0,0,0,0.2) 0, rgba(0,0,0,0) 0.5px, rgba(0,0,0,0) 100%);
}
.likely-light .likely__widget {
  color: #fff;
  fill: #fff;
  background: rgba(236,236,236,0.16);
  text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
}
.likely-light .likely__counter {
  background-image: linear-gradient(to right, rgba(255,255,255,0.4) 0, rgba(255,255,255,0) 0.5px, rgba(255,255,255,0) 100%);
}
.likely__widget_facebook {
  fill: #425497;
}
.likely__widget_facebook:hover,
.likely__widget_facebook:active,
.likely__widget_facebook:focus {
  background: rgba(207,212,229,0.8);
}
@media (hover: none) {
  .likely__widget_facebook:hover,
  .likely__widget_facebook:active,
  .likely__widget_facebook:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_facebook:hover,
.likely-light .likely__widget_facebook:active,
.likely-light .likely__widget_facebook:focus {
  text-shadow: #425497 0 0 0.25em;
  background: rgba(66,84,151,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_facebook:hover,
  .likely-light .likely__widget_facebook:active,
  .likely-light .likely__widget_facebook:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_linkedin {
  fill: #0077b5;
}
.likely__widget_linkedin:hover,
.likely__widget_linkedin:active,
.likely__widget_linkedin:focus {
  background: rgba(191,221,236,0.8);
}
@media (hover: none) {
  .likely__widget_linkedin:hover,
  .likely__widget_linkedin:active,
  .likely__widget_linkedin:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_linkedin:hover,
.likely-light .likely__widget_linkedin:active,
.likely-light .likely__widget_linkedin:focus {
  text-shadow: #0077b5 0 0 0.25em;
  background: rgba(0,119,181,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_linkedin:hover,
  .likely-light .likely__widget_linkedin:active,
  .likely-light .likely__widget_linkedin:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_odnoklassniki {
  fill: #f6903b;
}
.likely__widget_odnoklassniki:hover,
.likely__widget_odnoklassniki:active,
.likely__widget_odnoklassniki:focus {
  background: rgba(252,227,206,0.8);
}
@media (hover: none) {
  .likely__widget_odnoklassniki:hover,
  .likely__widget_odnoklassniki:active,
  .likely__widget_odnoklassniki:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_odnoklassniki:hover,
.likely-light .likely__widget_odnoklassniki:active,
.likely-light .likely__widget_odnoklassniki:focus {
  text-shadow: #f6903b 0 0 0.25em;
  background: rgba(246,144,59,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_odnoklassniki:hover,
  .likely-light .likely__widget_odnoklassniki:active,
  .likely-light .likely__widget_odnoklassniki:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_pinterest {
  fill: #bd081c;
}
.likely__widget_pinterest:hover,
.likely__widget_pinterest:active,
.likely__widget_pinterest:focus {
  background: rgba(238,193,198,0.8);
}
@media (hover: none) {
  .likely__widget_pinterest:hover,
  .likely__widget_pinterest:active,
  .likely__widget_pinterest:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_pinterest:hover,
.likely-light .likely__widget_pinterest:active,
.likely-light .likely__widget_pinterest:focus {
  text-shadow: #bd081c 0 0 0.25em;
  background: rgba(189,8,28,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_pinterest:hover,
  .likely-light .likely__widget_pinterest:active,
  .likely-light .likely__widget_pinterest:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_telegram {
  fill: #34abde;
}
.likely__widget_telegram:hover,
.likely__widget_telegram:active,
.likely__widget_telegram:focus {
  background: rgba(204,234,246,0.8);
}
@media (hover: none) {
  .likely__widget_telegram:hover,
  .likely__widget_telegram:active,
  .likely__widget_telegram:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_telegram:hover,
.likely-light .likely__widget_telegram:active,
.likely-light .likely__widget_telegram:focus {
  text-shadow: #34abde 0 0 0.25em;
  background: rgba(52,171,222,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_telegram:hover,
  .likely-light .likely__widget_telegram:active,
  .likely-light .likely__widget_telegram:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_twitter {
  fill: #00b7ec;
}
.likely__widget_twitter:hover,
.likely__widget_twitter:active,
.likely__widget_twitter:focus {
  background: rgba(191,237,250,0.8);
}
@media (hover: none) {
  .likely__widget_twitter:hover,
  .likely__widget_twitter:active,
  .likely__widget_twitter:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_twitter:hover,
.likely-light .likely__widget_twitter:active,
.likely-light .likely__widget_twitter:focus {
  text-shadow: #00b7ec 0 0 0.25em;
  background: rgba(0,183,236,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_twitter:hover,
  .likely-light .likely__widget_twitter:active,
  .likely-light .likely__widget_twitter:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_vkontakte {
  fill: #526e8f;
}
.likely__widget_vkontakte:hover,
.likely__widget_vkontakte:active,
.likely__widget_vkontakte:focus {
  background: rgba(211,218,227,0.8);
}
@media (hover: none) {
  .likely__widget_vkontakte:hover,
  .likely__widget_vkontakte:active,
  .likely__widget_vkontakte:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_vkontakte:hover,
.likely-light .likely__widget_vkontakte:active,
.likely-light .likely__widget_vkontakte:focus {
  text-shadow: #526e8f 0 0 0.25em;
  background: rgba(82,110,143,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_vkontakte:hover,
  .likely-light .likely__widget_vkontakte:active,
  .likely-light .likely__widget_vkontakte:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_whatsapp {
  fill: #25d366;
}
.likely__widget_whatsapp:hover,
.likely__widget_whatsapp:active,
.likely__widget_whatsapp:focus {
  background: rgba(200,244,216,0.8);
}
@media (hover: none) {
  .likely__widget_whatsapp:hover,
  .likely__widget_whatsapp:active,
  .likely__widget_whatsapp:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_whatsapp:hover,
.likely-light .likely__widget_whatsapp:active,
.likely-light .likely__widget_whatsapp:focus {
  text-shadow: #25d366 0 0 0.25em;
  background: rgba(37,211,102,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_whatsapp:hover,
  .likely-light .likely__widget_whatsapp:active,
  .likely-light .likely__widget_whatsapp:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_viber {
  fill: #7360f2;
}
.likely__widget_viber:hover,
.likely__widget_viber:active,
.likely__widget_viber:focus {
  background: rgba(220,215,251,0.8);
}
@media (hover: none) {
  .likely__widget_viber:hover,
  .likely__widget_viber:active,
  .likely__widget_viber:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_viber:hover,
.likely-light .likely__widget_viber:active,
.likely-light .likely__widget_viber:focus {
  text-shadow: #7360f2 0 0 0.25em;
  background: rgba(115,96,242,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_viber:hover,
  .likely-light .likely__widget_viber:active,
  .likely-light .likely__widget_viber:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
.likely__widget_reddit {
  fill: #ff4501;
}
.likely__widget_reddit:hover,
.likely__widget_reddit:active,
.likely__widget_reddit:focus {
  background: rgba(255,208,191,0.8);
}
@media (hover: none) {
  .likely__widget_reddit:hover,
  .likely__widget_reddit:active,
  .likely__widget_reddit:focus {
    background: rgba(231,231,231,0.8);
  }
}
.likely-light .likely__widget_reddit:hover,
.likely-light .likely__widget_reddit:active,
.likely-light .likely__widget_reddit:focus {
  text-shadow: #ff4501 0 0 0.25em;
  background: rgba(255,69,1,0.7);
}
@media (hover: none) {
  .likely-light .likely__widget_reddit:hover,
  .likely-light .likely__widget_reddit:active,
  .likely-light .likely__widget_reddit:focus {
    text-shadow: rgba(0,0,0,0.2) 0 0 0.33em;
    background: rgba(236,236,236,0.16);
  }
}
/* Size options */
.likely {
  margin: 0 -5px -10px;
}
.likely .likely__widget {
  line-height: 20px;
  font-size: 14px;
  border-radius: 3px;
  height: 22px;
  margin: 0 5px 10px;
}
.likely .likely__icon {
  width: 22px;
  height: 22px;
}
.likely .likely__button {
  padding: 1px 4px 1px 0;
}
.likely .likely__counter {
  padding: 1px 4px;
}
.likely svg {
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
}
.likely-big {
  margin: 0 -6px -12px;
}
.likely-big .likely__widget {
  line-height: 28px;
  font-size: 18px;
  border-radius: 4px;
  height: 32px;
  margin: 0 6px 12px;
}
.likely-big .likely__icon {
  width: 32px;
  height: 32px;
}
.likely-big .likely__button {
  padding: 2px 6px 2px 0;
}
.likely-big .likely__counter {
  padding: 2px 6px;
}
.likely-big svg {
  left: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
}
.likely-small {
  margin: 0 -4px -8px;
}
.likely-small .likely__widget {
  line-height: 14px;
  font-size: 12px;
  border-radius: 2px;
  height: 18px;
  margin: 0 4px 8px;
}
.likely-small .likely__icon {
  width: 18px;
  height: 18px;
}
.likely-small .likely__button {
  padding: 2px 3px 2px 0;
}
.likely-small .likely__counter {
  padding: 2px 3px;
}
.likely-small svg {
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
}
