likely-background = rgba(231,231,231,.8);
likely-light-background = rgba(236,236,236,.16);
likely-light-box-shadow = rgba(0,0,0,.2) 0 0 .33em;

.likely-button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // Hide buttons until they are loaded
  opacity: 0;

  display: inline-flex;
  align-items: baseline;
  height: 1.25em;
  line-height: 1.25em;
  border-radius: 0.1875em;

  white-space: nowrap;

  transition: background .33s ease-out, color .33s ease-out, fill .33s ease-out, opacity .1s ease-in;

  &_visibility_visible {
    opacity: 1;
  }

  &:hover, &:active, &:focus {
    transition: none;
    cursor: pointer;
  }

  &:not(.likely-button_light) {
    color: #000;
    background: likely-background;
  }

  &.likely-button_light {
    color: #fff;
    fill: #fff;
    background: likely-light-background;
    text-shadow: likely-light-box-shadow;
  }

  &__button {
    padding: 0 0.25em 0 0;
    user-select: none;
  }

  &__counter {
    display: none;
    padding: 0 0.25em;
    // To make the separator on the left fill the whole vertical space
    align-self: stretch;

    text-align: center;

    .likely-button_visibility_visible &:not(&_empty) {
      display: inline;
    }

    .likely-button:not(.likely-button_light) & {
      background-size: 1px 1px;
      background-repeat: repeat-y;
      background-image: linear-gradient(to right, rgba(0,0,0,.2) 0, rgba(0,0,0,0) .5px, rgba(0,0,0,0) 100%)
    }

    .likely-button.likely-button_light & {
      background-image: linear-gradient(to right, rgba(255,255,255,.4) 0, rgba(255,255,255,0) .5px, rgba(255,255,255,0) 100%)
    }
  }

  &__icon {
    display: inline-flex;
    align-self: stretch;
    padding: 0.1875em;

    svg {
      width: 1em;
      height: 1em;
      align-self: center;
    }
  }
}

.likely-button:not(.likely-button_light) {
  color: #000;
  background: likely-background;
}
.likely-button:not(.likely-button_light) .likely-button__counter {
  background-size: 1px 1px;
  background-repeat: repeat-y;
  background-image: linear-gradient(to right, rgba(0,0,0,.2) 0, rgba(0,0,0,0) .5px, rgba(0,0,0,0) 100%)
}
.likely-button.likely-button_light {
  color: #fff;
  fill: #fff;
  background: likely-light-background;
  text-shadow: likely-light-box-shadow;
}
.likely-button.likely-button_light .likely-button__counter {
  background-image: linear-gradient(to right, rgba(255,255,255,.4) 0, rgba(255,255,255,0) .5px, rgba(255,255,255,0) 100%)
}

colorize(button, color) {
  .likely-button_service_{button} {
    fill: color;
    &:hover, &:active, &:focus {
      background: alpha(mix(#fff,color,75%),.8);
    }
  }
  .likely-button_light {
    .likely-button_service_{button} {
      &:hover, &:active, &:focus {
        text-shadow: color 0 0 .25em;
        background: alpha(color,0.7);
      }
    }
  }
}

colorize('facebook', #425497);
colorize('gplus', #dd4241);
colorize('linkedin', #0077b5);
colorize('odnoklassniki', #f6903b);
colorize('pinterest', #bd081c);
colorize('telegram', #34abde);
colorize('twitter', #00b7ec);
colorize('vkontakte', #526e8f);
colorize('whatsapp', #25D366);
