likely-background = rgba(231,231,231,.8);
likely-light-background = rgba(236,236,236,.16);
likely-light-box-shadow = rgba(0,0,0,.2) 0 0 .33em;

.likely-button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // Hide buttons until they are loaded
  opacity: 0;

  display: inline-flex;
  align-items: baseline;
  height: 1.25em;
  line-height: 1.25em;
  border-radius: 0.1875em;

  white-space: nowrap;

  transition: background .33s ease-out, color .33s ease-out, fill .33s ease-out, opacity .1s ease-in;

  &_visibility_visible {
    opacity: 1;
  }

  &:hover, &:active, &:focus {
    transition: none;
    cursor: pointer;
  }

  &_light {
    color: #fff;
    fill: #fff;
    background: likely-light-background;
    text-shadow: likely-light-box-shadow;

    .likely-button__counter {
      background-image: linear-gradient(to right, rgba(255,255,255,.4) 0, rgba(255,255,255,0) .5px, rgba(255,255,255,0) 100%)
    }
  }

  &:not(&_light) {
    color: #000;
    background: likely-background;

    .likely-button__counter {
      background-size: 1px 1px;
      background-repeat: repeat-y;
      background-image: linear-gradient(to right, rgba(0,0,0,.2) 0, rgba(0,0,0,0) .5px, rgba(0,0,0,0) 100%)
    }
  }

  &__label {
    padding: 0 0.25em 0 0;
    user-select: none;
  }

  &__counter {
    padding: 0 0.25em;
    // To make the separator on the left fill the whole vertical space
    align-self: stretch;

    text-align: center;

    &:empty {
      display: none;
    }
  }

  &__icon {
    display: inline-flex;
    align-self: stretch;
    padding: 0.1875em;

    svg {
      width: 1em;
      height: 1em;
      align-self: center;
    }
  }
}

colorize(serviceName, color) {
  .likely-button:not(.likely-button_light).likely-button_service_{serviceName} {
    fill: color;

    &:hover, &:active, &:focus {
      background: alpha(mix(#fff, color, 75%), 0.8);
    }
  }

  .likely-button.likely-button_light.likely-button_service_{serviceName} {
    &:hover, &:active, &:focus {
      text-shadow: color 0 0 0.25em;
      background: alpha(color, 0.7);
    }
  }
}

colorize('facebook', #425497);
colorize('gplus', #dd4241);
colorize('linkedin', #0077b5);
colorize('odnoklassniki', #f6903b);
colorize('pinterest', #bd081c);
colorize('telegram', #34abde);
colorize('twitter', #00b7ec);
colorize('vkontakte', #526e8f);
colorize('whatsapp', #25D366);
