/* Style options */
likely-background = rgba(231, 231, 231, .8);
likely-light-background = rgba(236, 236, 236, .16);
likely-light-box-shadow = rgba(0, 0, 0, .2) 0 0 .33em;

.likely {
  // Hide buttons until they are loaded
  opacity: 0;
  transition: opacity .1s ease-in;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0 !important;
  text-indent: 0 !important;

  * {
    visibility: hidden;
    display: inline-block;
  }

  &_visible, &_ready {
    opacity: 1;

    * {
      visibility: inherit;
    }
  }

  &__button {
    position: relative;
    cursor: pointer;
    user-select: none;
    color: inherit;
  }

  &__counter {
    display: none;
    position: relative;
    text-align: center;
    background-size: 1px 1px;
    background-repeat: repeat-y;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .5px, rgba(0, 0, 0, 0) 100%)
  }

  &__widget, &__widget:link, &__widget:visited {
    color: #000;
    background: likely-background;
    transition: widget-transition = background .33s ease-out, color .33s ease-out, fill .33s ease-out;

    &:hover, &:active, &:focus {
      transition: none;
      cursor: pointer;

      @media (hover: none) {
        transition: widget-transition;
        cursor: unset;
      }
    }
  }

  &__icon {
    position: relative;
    text-align: left;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__button,
  &__counter {
    font-weight: normal;
    font-family: Helvetica Neue, Arial, sans-serif;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    outline: 0;
    line-height: inherit;
    cursor: inherit;
  }

  &__button:empty {
    display: none;
  }

  &_ready &__counter {
    display: inline-block;
  }

  &_ready &__counter_empty {
    display: none;
  }

  &__widget,
  &__widget:link,
  &__widget:visited,
  &__icon,
  &__button,
  &__counter {
    vertical-align: top;
  }
}

/* Light widget is used for dark theme */
likely-light-widget() {
  color: #fff;
  fill: #fff;
  background: likely-light-background;
  text-shadow: likely-light-box-shadow;
}

likely-light-counter() {
  background-image: linear-gradient(to right, rgba(255, 255, 255, .4) 0, rgba(255, 255, 255, 0) .5px, rgba(255, 255, 255, 0) 100%)
}

likely-light-button(button, color, media-none = false) {
  .likely__widget_{button}, .likely__widget_{button}:link, .likely__widget_{button}:visited {
    &:hover, &:active, &:focus {
      text-shadow: media-none ? likely-light-box-shadow : color 0 0 .25em;
      background: media-none ? likely-light-background : alpha(color, 0.7);
    }
  }
}

.likely-light, .likely-dark-theme {
  .likely__widget, .likely__widget:link, .likely__widget:visited {
    likely-light-widget()
  }

  .likely__counter {
    likely-light-counter()
  }
}

@media (prefers-color-scheme: dark) {
  .likely-color-theme-based {
    .likely__widget, .likely__widget:link, .likely__widget:visited {
      likely-light-widget()
    }

    .likely__counter {
      likely-light-counter()
    }
  }
}

colorize(button, color) {
  .likely__widget_{button}, .likely__widget_{button}:link, .likely__widget_{button}:visited {
    fill: color;

    &:hover, &:active, &:focus {
      background: alpha(mix(#fff, color, 75%), .8);

      @media (hover: none) {
        transition: widget-transition;
        cursor: unset;
        background: likely-background;
      }
    }
  }
  .likely-light, .likely-dark-theme {
    likely-light-button(button, color)

    @media (hover: none) {
      likely-light-button(button, color, true)
    }
  }
  @media (prefers-color-scheme: dark) {
    .likely-color-theme-based {
      likely-light-button(button, color)
    }
  }
  @media (prefers-color-scheme: dark) and (hover: none) {
    .likely-color-theme-based {
      likely-light-button(button, color, true)
    }
  }
}

colorize('facebook', #0866FF);
colorize('linkedin', #0A66C2);
colorize('odnoklassniki', #FF7700);
colorize('pinterest', #E60019);
colorize('reddit', #FF4500);
colorize('telegram', #35A3DC);
colorize('twitter', #1DA1F2);
colorize('viber', #7360F2);
colorize('vkontakte', #0077FF);
colorize('whatsapp', #25D366);
colorize('xcom', #333333);
colorize('threads', #333333);

/* Size options */

.likely {
  gap: 10px;

  .likely__widget, .likely__widget:link, .likely__widget:visited {
    line-height: 20px;
    font-size: 14px;
    border-radius: 3px;
    height: 22px;
  }

  .likely__icon {
    width: 22px;
    height: 22px;
  }

  .likely__button {
    padding: 1px 4px 1px 0;
  }

  .likely__counter {
    padding: 1px 4px;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.likely-big {
  gap: 12px;

  .likely__widget, .likely__widget:link, .likely__widget:visited {
    line-height: 28px;
    font-size: 18px;
    border-radius: 4px;
    height: 32px;
  }

  .likely__icon {
    width: 32px;
    height: 32px;
  }

  .likely__button {
    padding: 2px 6px 2px 0;
  }

  .likely__counter {
    padding: 2px 6px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.likely-small {
  gap: 8px;

  .likely__widget, .likely__widget:link, .likely__widget:visited {
    line-height: 14px;
    font-size: 12px;
    border-radius: 2px;
    height: 18px;
  }

  .likely__icon {
    width: 18px;
    height: 18px;
  }

  .likely__button {
    padding: 2px 3px 2px 0;
  }

  .likely__counter {
    padding: 2px 3px;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}
